In [1]:
# Importing libraries
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [2]:
# Importing file

df = pd.read_csv(r"C:\Users\joaoa\Desktop\Ironhack\Labs\lab-customer-analysis-round-5\files_for_lab\csv_files\marketing_customer_analysis.csv")
df

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [3]:
# Standardizing columns names

cols = []
for i in range(len(df.columns)):
    cols.append(df.columns[i].lower().replace(" ","_"))
df.columns = cols
df

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [4]:
# Looking for data types

df.dtypes

customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim            int64
months_since_policy_inception      int64
number_of_open_complaints          int64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
dtype: object

In [5]:
# Checking null values

print("Total NaN values:", df.isna().sum().sum())
df.isna().sum()

Total NaN values: 0

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
dtype: int64

In [6]:
# Dropping duplicates if there are

df = df.drop_duplicates()
df

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [7]:
# Checking unique values

print("state unique values:", df["state"].unique())
print("response unique values:", df["response"].unique())
print("coverage unique values:", df["coverage"].unique())
print("education unique values:", df["education"].unique())
print("employmentstatus unique values:", df["employmentstatus"].unique())
print("gender unique values:", df["gender"].unique())
print("number_of_open_complaints unique values:", df["number_of_open_complaints"].unique())
print("number_of_policies unique values:", df["number_of_policies"].unique())
print("location_code unique values:", df["location_code"].unique())
print("marital_status unique values:", df["marital_status"].unique())
print("policy_type unique values:", df["policy_type"].unique())
print("policy unique values:", df["policy"].unique())
print("renew_offer_type unique values:", df["renew_offer_type"].unique())
print("sales_channel unique values:", df["sales_channel"].unique())
print("vehicle_class unique values:", df["vehicle_class"].unique())
print("vehicle_size unique values:", df["vehicle_size"].unique())

state unique values: ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon']
response unique values: ['No' 'Yes']
coverage unique values: ['Basic' 'Extended' 'Premium']
education unique values: ['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']
employmentstatus unique values: ['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']
gender unique values: ['F' 'M']
number_of_open_complaints unique values: [0 2 1 3 5 4]
number_of_policies unique values: [1 8 2 7 9 4 3 6 5]
location_code unique values: ['Suburban' 'Rural' 'Urban']
marital_status unique values: ['Married' 'Single' 'Divorced']
policy_type unique values: ['Corporate Auto' 'Personal Auto' 'Special Auto']
policy unique values: ['Corporate L3' 'Personal L3' 'Corporate L2' 'Personal L1' 'Special L2'
 'Corporate L1' 'Personal L2' 'Special L1' 'Special L3']
renew_offer_type unique values: ['Offer1' 'Offer3' 'Offer2' 'Offer4']
sales_channel unique values: ['Agent' 'Call Center' 'Web' 'Branch']
vehicle_class unique values: ['Two-Door Car' 'Four-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car']
vehicle_size unique values: ['Medsize' 'Small' 'Large']

In [8]:
# Checking min values and max values

print("Min of customer_lifetime_value:", min(df["customer_lifetime_value"]))
print("Max of customer_lifetime_value:", max(df["customer_lifetime_value"]))
print("Min of income:", min(df["income"]))
print("Max of income:", max(df["income"]))
print("Min of monthly_premium_auto:", min(df["monthly_premium_auto"]))
print("Max of monthly_premium_auto:", max(df["monthly_premium_auto"]))
print("Min of months_since_last_claim:", min(df["months_since_last_claim"]))
print("Max of months_since_last_claim:", max(df["months_since_last_claim"]))
print("Min of months_since_policy_inception:", min(df["months_since_policy_inception"]))
print("Max of months_since_policy_inception:", max(df["months_since_policy_inception"]))
print("Min of total_claim_amount:", min(df["total_claim_amount"]))
print("Max of total_claim_amount:", max(df["total_claim_amount"]))

Min of customer_lifetime_value: 1898.007675
Max of customer_lifetime_value: 83325.38119
Min of income: 0
Max of income: 99981
Min of monthly_premium_auto: 61
Max of monthly_premium_auto: 298
Min of months_since_last_claim: 0
Max of months_since_last_claim: 35
Min of months_since_policy_inception: 0
Max of months_since_policy_inception: 99
Min of total_claim_amount: 0.099007
Max of total_claim_amount: 2893.239678

In [9]:
# Test data

test = df.iloc[0:int(len(df)*0.2)]
test = test.reset_index(drop = True)
test

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,AY88788,Oregon,15417.682200,No,Basic,College,1/3/11,Employed,F,69841,...,66,0,7,Personal Auto,Personal L3,Offer1,Branch,878.812468,Luxury SUV,Medsize
1822,OJ33945,Oregon,8692.636838,No,Basic,High School or Below,1/8/11,Employed,F,97768,...,14,0,2,Personal Auto,Personal L1,Offer3,Agent,151.843731,Two-Door Car,Medsize
1823,LO84523,Oregon,6503.143913,No,Basic,High School or Below,2/4/11,Unemployed,M,0,...,12,0,1,Personal Auto,Personal L2,Offer2,Web,1588.682955,Luxury Car,Medsize
1824,GJ43254,Washington,31642.104630,No,Extended,College,1/22/11,Employed,M,89057,...,90,0,2,Corporate Auto,Corporate L2,Offer1,Call Center,187.363583,Two-Door Car,Medsize
1825,AR96516,Oregon,5914.951808,No,Basic,Bachelor,1/28/11,Employed,F,50217,...,2,0,9,Personal Auto,Personal L1,Offer2,Web,355.200000,Two-Door Car,Medsize

In [10]:
# Train data

train = df.iloc[int(len(df)*0.2):len(df)]
train = train.reset_index(drop = True)
train

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,WH11924,Washington,4645.839058,No,Basic,College,2/5/11,Unemployed,M,0,...,33,0,3,Personal Auto,Personal L2,Offer4,Web,697.186307,Two-Door Car,Large
1,DL26809,Nevada,6826.797741,No,Basic,College,2/27/11,Unemployed,M,0,...,26,0,2,Personal Auto,Personal L3,Offer1,Agent,489.600000,Two-Door Car,Small
2,MV69686,Oregon,3982.180708,No,Extended,Doctor,1/3/11,Employed,F,38500,...,49,1,1,Corporate Auto,Corporate L2,Offer1,Agent,423.286512,Four-Door Car,Large
3,SC95565,Nevada,2887.779742,No,Basic,High School or Below,2/15/11,Employed,F,62018,...,0,0,1,Personal Auto,Personal L1,Offer4,Branch,293.865315,Two-Door Car,Medsize
4,RL31641,Oregon,2252.416825,No,Basic,College,1/29/11,Unemployed,F,0,...,84,0,1,Personal Auto,Personal L3,Offer3,Web,468.000000,Two-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7303,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
7304,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
7305,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
7306,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
7307,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [11]:
# Normalizing "test" numerical values

num_test = test.select_dtypes(include=np.number)
scaler = MinMaxScaler() 
normalized_test = scaler.fit_transform(num_test) 
normalized_test = pd.DataFrame(normalized_test, columns = num_test.columns)
normalized_test
test[normalized_test.columns] = normalized_test
test

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,0.013517,No,Basic,Bachelor,2/24/11,Employed,F,0.562847,...,0.050505,0.0,0.000,Corporate Auto,Corporate L3,Offer1,Agent,0.132889,Two-Door Car,Medsize
1,QZ44356,Arizona,0.088586,No,Extended,Bachelor,1/31/11,Unemployed,F,0.000000,...,0.424242,0.0,0.875,Personal Auto,Personal L3,Offer3,Agent,0.390992,Four-Door Car,Medsize
2,AI49188,Nevada,0.193779,No,Premium,Bachelor,2/19/11,Employed,F,0.487763,...,0.383838,0.0,0.125,Personal Auto,Personal L3,Offer1,Agent,0.195685,Two-Door Car,Medsize
3,WW63253,California,0.100450,No,Basic,Bachelor,1/20/11,Unemployed,M,0.000000,...,0.656566,0.0,0.750,Corporate Auto,Corporate L2,Offer1,Call Center,0.183037,SUV,Medsize
4,HB64268,Washington,0.014411,No,Basic,Bachelor,2/3/11,Employed,M,0.438443,...,0.444444,0.0,0.000,Personal Auto,Personal L1,Offer1,Agent,0.047617,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,AY88788,Oregon,0.238832,No,Basic,College,1/3/11,Employed,F,0.698543,...,0.666667,0.0,0.750,Personal Auto,Personal L3,Offer1,Branch,0.303655,Luxury SUV,Medsize
1822,OJ33945,Oregon,0.119089,No,Basic,High School or Below,1/8/11,Employed,F,0.977866,...,0.141414,0.0,0.125,Personal Auto,Personal L1,Offer3,Agent,0.052357,Two-Door Car,Medsize
1823,LO84523,Oregon,0.080104,No,Basic,High School or Below,2/4/11,Unemployed,M,0.000000,...,0.121212,0.0,0.000,Personal Auto,Personal L2,Offer2,Web,0.549042,Luxury Car,Medsize
1824,GJ43254,Washington,0.527717,No,Extended,College,1/22/11,Employed,M,0.890739,...,0.909091,0.0,0.125,Corporate Auto,Corporate L2,Offer1,Call Center,0.064636,Two-Door Car,Medsize
1825,AR96516,Oregon,0.069630,No,Basic,Bachelor,1/28/11,Employed,F,0.502265,...,0.020202,0.0,1.000,Personal Auto,Personal L1,Offer2,Web,0.122653,Two-Door Car,Medsize

In [12]:
# Normalizing "train" numerical values

num_train = train.select_dtypes(include=np.number)
scaler = MinMaxScaler() 
normalized_train = scaler.fit_transform(num_train) 
normalized_train = pd.DataFrame(normalized_train, columns = num_train.columns)
normalized_train
train[normalized_train.columns] = normalized_train
train

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,WH11924,Washington,0.033746,No,Basic,College,2/5/11,Unemployed,M,0.000000,...,0.333333,0.0,0.250,Personal Auto,Personal L2,Offer4,Web,0.252596,Two-Door Car,Large
1,DL26809,Nevada,0.060530,No,Basic,College,2/27/11,Unemployed,M,0.000000,...,0.262626,0.0,0.125,Personal Auto,Personal L3,Offer1,Agent,0.177375,Two-Door Car,Small
2,MV69686,Oregon,0.025595,No,Extended,Doctor,1/3/11,Employed,F,0.385150,...,0.494949,0.2,0.000,Corporate Auto,Corporate L2,Offer1,Agent,0.153346,Four-Door Car,Large
3,SC95565,Nevada,0.012155,No,Basic,High School or Below,2/15/11,Employed,F,0.620422,...,0.000000,0.0,0.000,Personal Auto,Personal L1,Offer4,Branch,0.106449,Two-Door Car,Medsize
4,RL31641,Oregon,0.004352,No,Basic,College,1/29/11,Unemployed,F,0.000000,...,0.848485,0.0,0.000,Personal Auto,Personal L3,Offer3,Web,0.169548,Two-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7303,LA72316,California,0.264137,No,Basic,Bachelor,2/10/11,Employed,M,0.719691,...,0.898990,0.0,0.125,Personal Auto,Personal L1,Offer2,Web,0.071796,Four-Door Car,Medsize
7304,PK87824,California,0.014719,Yes,Extended,College,2/12/11,Employed,F,0.216124,...,0.282828,0.0,0.000,Corporate Auto,Corporate L3,Offer1,Branch,0.137371,Four-Door Car,Medsize
7305,TD14365,California,0.076951,No,Extended,Bachelor,2/6/11,Unemployed,M,0.000000,...,0.373737,0.6,0.125,Corporate Auto,Corporate L2,Offer1,Branch,0.286512,Four-Door Car,Medsize
7306,UP19263,California,0.069098,No,Extended,College,2/3/11,Employed,M,0.219496,...,0.030303,0.0,0.250,Personal Auto,Personal L2,Offer3,Branch,0.250427,Four-Door Car,Large
7307,Y167826,California,0.008766,No,Extended,College,2/14/11,Unemployed,M,0.000000,...,0.909091,0.0,0.000,Corporate Auto,Corporate L3,Offer4,Call Center,0.133892,Two-Door Car,Medsize